<section class="container borde">
  <h3 class="headerForm text-center  ligther">Valoración y emisión de juicio</h3>

  <div class="row">
    <div class="col-sm-8">
      <label for="">Factor</label>
      <select class="form-control form-control-sm">
        <option>--Escoja un factor--</option>
      </select>
    </div>
    <div class="col-sm-4">
      <label for="">ID Factor</label>
      <select class="form-control form-control-sm">
        <option>--ID Factor--</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <label for="">Característica</label>
      <select class="form-control form-control-sm">
        <option>--Escoja una Característica--</option>
      </select>
    </div>
    <div class="col-sm">
      <label for="">ID - Característica</label>
      <select class="form-control form-control-sm">
        <option>--ID - Característica--</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Aspectos a evaluar</span>
        </div>
        <textarea class="form-control" aria-label="Descripción de la actividad"></textarea>
      </div>
    </div>
    <div class="col-sm-4">
      <label for="">Análisis cualitativo</label>
      <select class="form-control form-control-sm">
        <option>--Escoja una cualidad--</option>
        <option value="">No se cumple</option>
        <option value="">Se cumple insatisfactoriamente</option>
      </select>
    </div>
  </div>

  <div class="row ponderar">
    <div class="col-sm-6">
      <label for="">Valoración</label>
      <select class="form-control form-control-sm">
        <option>Valor</option>
        <option value="">1</option>
        <option value="">2</option>
      </select>
    </div>

    <div class="col-sm-6">
      <label for="">Valoración Característica (Promedio)</label>
      <select class="form-control form-control-sm">
        <option>Valor</option>
        <option value="">1</option>
        <option value="">2</option>
      </select>
    </div>
  </div>
  <br>
  <!-- Boton Submit -->
  <button type="button" class="btn btn-primary">Enviar</button>
  <hr>
</section>

