/* Para todos los formularios */
.container{
  margin-top: 10em;
  background-color: var(--colorFondoForm);
  padding: 20px;
}

.headerForm{
  padding: 10px;
  background-color: var(--colorFondoAzul);
  color: var(--colorTxt);
}
.form{
  margin-top: 5em;
}
label{
  margin-top: 15px;
  margin-bottom: 0;
}
/* Boton enviar */
.btn{
  width: 150px;
  background-color: var(--colorFondoAzul );
  color: var(--colorTxt);

}
.btn:hover{
  background-color: var(--colorTxt);
  color: var(--colorFondoAzul );
}
/* ponderacion valor */
.ponderar select{
  width: 100px;
}
/* text area */
.input-group-text{
  background-color: tomato;
  color: var(--colorTxt);
}
