<section class="container borde">
  <h3 class="headerForm text-center ligther">Ponderación</h3>

  <div class="row">
    <div class="col-sm-6">
      <label for="">Factores</label>
      <select class="form-control form-control-sm">
        <option>--Escoja un factor--</option>
        <option value=""></option>
        <option value=""></option>
      </select>
    </div>

    <div class="col-sm-6">
      <label for="">Caracteristica</label>
      <select class="form-control form-control-sm">
        <option>--Escoja una caracteristica--</option>
        <option value=""></option>
        <option value=""></option>
      </select>
    </div>
  </div>

  <div class="row ponderar">
    <div class="col-sm-6">
      <label for="">Ponderar</label>
      <select class="form-control form-control-sm">
        <option>Valor</option>
        <option value="">1</option>
        <option value="">2</option>
      </select>
    </div>

    <div class="col-sm-6">
      <label for="">Ponderar</label>
      <select class="form-control form-control-sm">
        <option>Valor</option>
        <option value="">1</option>
        <option value="">2</option>
      </select>
    </div>
  </div>

  <br/>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Descripción de la actividad</span>
            </div>
            <textarea class="form-control" aria-label="Descripción de la actividad"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Descripción de la actividad</span>
            </div>
            <textarea class="form-control" aria-label="Descripción de la actividad"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <!-- Boton Submit -->
  <button type="button" class="btn btn-primary">Enviar</button>
  <hr>

</section>
<br /><br /><br /><br />
