<section class="container borde">
  <h3 class="headerForm text-center ligther">Registro de información de integrantes de comité</h3>

  <div class="row">
    <div class="col-sm-4">
      <label for="">Número identificación</label>
      <input class="form-control form-control-sm" type="text" placeholder="No. identificación"/>
    </div>
    <div class="col-sm">
      <label for="">Dependencia a la cual está inscrito</label>
      <input class="form-control form-control-sm" type="text" placeholder="Dependencia a la cual está inscrito"/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <label for="">Nombres completos</label>
      <input class="form-control form-control-sm" type="text" placeholder="Nombres completos"/>
    </div>
    <div class="col-sm">
      <label for="">Apellidos completos</label>
      <input class="form-control form-control-sm" type="text" placeholder="Apellidos completos"/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <label for="">Nombre de cargo</label>
      <input class="form-control form-control-sm" type="text" placeholder="Nombre de cargo"/>
    </div>
    <div class="col-sm">
      <label for="">Nombre del rol</label>
      <select class="form-control form-control-sm">
        <option>--Escoja un rol--</option>
        <option value="">Delegado</option>
      </select>
    </div>
  </div>

  <br>
  <!-- Boton submit -->
  <button type="button" class="btn btn-primary">Enviar</button>
  <hr>
</section>
