/* Header */
.header{
  width: 100%;
  height: 115px;
  background-color: #fff;
}
.headerimage{
  width: 180px;
  height: 110px;
}
.textHeader{
  background-color: var(--colorFondoAzul);
  height: 63px;
  padding-top: 15px;
}
.title{
  display: block;
  color: var(--colorTxt);
  font-size: 0.7em;
}
/* Formulario de ingreso */

.sectionMain{
  width: 100%;
  height: 407px;
  background-color: burlywood;
}
.img{
  width: 100%;
  height: 407px;
  object-fit: cover;
}
.containerForm{
  margin-left: 65%;
  width: 33.333%;
  height: 285px;
  top:205px;
  position:absolute;
  z-index:1;
}
.form-1{
  background-color: var(--colorForm);
  min-width: 100%;
  height: 100%;
  border-radius: 5px 1px 1px 30px;
  padding: 30px 20px;
}
.form-group{
  padding-top: 10px;
}
.btn{
  width: 100%;
  background-color: var(--colorFondoAzul);
  color: var(--colorTxt);
}
.forgotPass{
  color: var(--colorTxt);
  font-size: 14px;
}

/* Footer */
.footerSection{
  background-color: var(--colorFondoAzul);
  width: 100%;
  padding-bottom: 282px;
}
.copy{
color: var(--colorFooter );
position: absolute;
margin-top: 150px;
width: 100%;
margin-left: auto;
}

/* -----------------------------Estilos responsive-------------------------------------------- */
@media screen and (min-width:768px){
/* Formulario de ingreso */
  .sectionMain{
    height: 548px;
  }
  .img{
    height: 548px;
  }
  .containerForm{
    top:260px;
  }
  .form-1{
    padding: 30px 40px;
  }

  /* footer */
  .footerSection{
    padding-bottom: 141px;
  }
  .copy{
    margin-top: 90px;
    }
}

@media screen and (min-width:1024px){
  /* Formulario de ingreso */
    .sectionMain{
      height: 600px;
    }
    .img{
      height: 600px;
    }
    /* footer */
    .footerSection{
      padding-bottom: 89px;
    }
    .copy{
      margin-top: 40px;
      }
  }
  @media screen and (min-width: 1920px){
      .sectionMain{
        height: 702px;
      }
      .img{
        height: 702px;
      }
    }
