<header class="headerPrincipal center">
  <div class="header">
    <div>
      <img class="headerimage" src="./assets/img/logo.png">
    </div>
  </div>

  <div class="textHeader">
      <h2><span class="title ligther">Ingreso a la aplicación AutoEvaluación</span></h2>
  </div>
</header>

<!-- Sección para la imagen y el formulario. -->
<main class="sectionMain">
    <img class="img" src="./assets/img/seccionLogo.jpg">
    <div class="containerForm">

      <div class="form-1 center" >
        <form [formGroup]="signupForm">
          <div class="form-group">
            <input type="text" class="form-control ligther" id="nombre" name="nombre" placeholder="Usuario">
          </div>
          <div class="form-group">
            <input type="password" class="form-control ligther" id="clave" name="clave" placeholder="Contraseña">
          </div>
        </form>
        <button class="btn ligther" mat-button routerLink="/navigation">Ingresar</button>
        <p><a class="forgotPass ligther" href="https://cpo.poligran.edu.co/olvido.aspx">¿Olvidó su contraseña o  usuario?</a></p>
      </div>

    </div>
  </main>
<!-- footer -->

<footer>
  <div class="footerSection">
    <p class="copy center ligther"><span class="bold">Copyright</span> Politécnico Grancolombiano &copy; 2016.</p>
  </div>

</footer>

