<section class="container borde">
  <h3 class="headerForm text-center ligther">
    Crear proceso de Autoevaluación
  </h3>

  <div>
    <label for="">Nombre de facultad</label>
    <select class="form-control form-control-sm">
      <option>--Escoja una facultad--</option>
      <option value="">Ingienería y ciencias basicas</option>
    </select>

    <label for="">Nombre de programa</label>
    <select class="form-control form-control-sm">
      <option>--Escoja un programa--</option>
      <option value="">Ineginiería industrial</option>
    </select>

    <label for="">Factor</label>
    <select class="form-control form-control-sm" [(ngModel)]="selectedFactor.id" (change)="onSelect($event.target.value)">
      <option *ngFor="let fact of factors" value="{{fact.id}}">{{fact.name}}</option>
    </select>

    <label for="">Caracteristica</label>
    <select class="form-control form-control-sm">
      <option *ngFor="let charact of characteristics" value="charact.id">{{charact.name}}</option>
    </select>

    <label for="">Aspecto</label>
    <select class="form-control form-control-sm">
      <option>--Escoja un aspecto--</option>
      <option value="">a) Apropiación de la visión y la misión institucional por parte de la comunidad académica.</option>
    </select>
    <!-- CheckBox -->
    <div class="chekTipologia">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Documental</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Estadístico</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Opinión o apreciación</label>
      </div>
    </div>
    <!-- Boton submit -->
    <button type="button" class="btn btn-primary">Enviar</button>

  </div>
  <hr />
</section>
