/* Para todos los formularios */
.container{
  margin-top: 10em;
  background-color: var(--colorFondoForm);
  padding: 20px;
}

.headerForm{
  padding: 10px;
  background-color: var(--colorFondoAzul);
  color: var(--colorTxt);
}
label{
  margin-top: 15px;
  margin-bottom: 0;
}
/* chek */
.chekTipologia{
  margin-top: 1.5em;
}
.chekTipologia label{
  margin-bottom: 12px;
}
/* Boton enviar */
.btn{
  width: 150px;
  background-color: var(--colorFondoAzul );
  color: var(--colorTxt);

}
.btn:hover{
  background-color: var(--colorTxt);
  color: var(--colorFondoAzul );
}
