/* Para todos los formularios */
.container{
  margin-top: 10em;
  background-color: var(--colorFondoForm);
  padding: 20px;
}

.headerForm{
  padding: 10px;
  background-color: var(--colorFondoAzul);
  color: var(--colorTxt);
}
.form{
  margin-top: 5em;
}
label{
  margin-top: 15px;
  margin-bottom: 0;
}

.chekTipologia{
  margin-top: .5em;
}
.chekTipologia label{
  margin-bottom: 12px;
}
/* Boton adjuntar file */
.form-group input{
  background-color: tomato;
  color: var(--colorTxt);
}
/* Adjuntar archivo */
.col-sm-4 p{
  margin: 0;
  font-size: 10.5px;
}
/* Boton enviar */
.btn{
  width: 150px;
  background-color: var(--colorFondoAzul );
  color: var(--colorTxt);

}
.btn:hover{
  background-color: var(--colorTxt);
  color: var(--colorFondoAzul );
}
