<section class="container borde">
  <h3 class="headerForm text-center  ligther">Cargar evidencias de las diferentes actividades</h3>

    <div class="row">
      <div class="col-sm-8">
        <label for="">Nombre de la actividad</label>
        <input class="form-control form-control-sm" type="text" placeholder="Nombre de la actividad"/>
      </div>
    </div>

    <div class="chekTipologia">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Documental</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Estadístico</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Opinión o apreciación</label>
      </div>
    </div>

    <br/><br/><br/>
    <br />
    <!-- Boton de adjuntar archivo -->
    <div class="row">
      <div class="col-sm-4">
        <form>
          <div class="form-group">
            <label for="exampleFormControlFile1">Adjuntar evidencia de actividad</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
            <p>Archivo no mayor a 10Mb</p>
            <p>Formato: .docx, .pdf, .xls, .ppt</p>
          </div>
        </form>
      </div>
    </div>
    <br>
    <!-- Boton submit -->
    <button type="button" class="btn btn-primary">Enviar</button>
    <hr>

</section>
