/* Para todos los formularios */
.container{
  margin-top: 10em;
  background-color: var(--colorFondoForm);
  padding: 20px;
}

.headerForm{
  padding: 10px;
  background-color: var(--colorFondoAzul);
  color: var(--colorTxt);
}
.form{
  margin-top: 5em;
}
label{
  margin-top: 15px;
  margin-bottom: 0;
}
/* Boton enviar */
.btn{
  width: 150px;
  background-color: var(--colorFondoAzul );
  color: var(--colorTxt);

}
.btn:hover{
  background-color: var(--colorTxt);
  color: var(--colorFondoAzul );
}
/* Boton adjuntar archivo */
.form-group input{
  background-color: tomato;
  color: var(--colorTxt);
}
/* fecha */
.example-full-width{
  margin-top: 20px;
  padding: 5px;
  border-radius: 3%;
  border: 1px solid #ced4da;
  background-color: #fff ;
  color: black;
}
/* Adjuntar archivo */
.col-sm-4 p{
  margin: 0;
  font-size: 10.5px;
}
