<section class="container borde">
  <h3 class="headerForm text-center ligther">Crear comité según proceso de auto evaluación</h3>

    <mat-form-field class="example-full-width">
      <mat-label>Fecha y vigencia</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

  <div class="row">
    <div class="col-sm-4">
      <label for="">Nombre del comité</label>
      <input class="form-control form-control-sm" type="text" placeholder="Nombre del comité"/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <label for="">Nombres de integrante</label>
      <input class="form-control form-control-sm" type="text" placeholder="Nombres de integrante"/>
    </div>
    <div class="col-sm">
      <label for="">Apellidos de integrante</label>
      <input class="form-control form-control-sm" type="text" placeholder="Apellidos de integrante"/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <label for="">Rol del integrante</label>
      <select class="form-control form-control-sm">
        <option>--Escoja un rol--</option>
        <option value="">Delegado</option>
      </select>
    </div>
  </div>
  <br />
  <br />
  <br />

  <!-- Boton de adjuntar archivo -->
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">Adjuntar acta de conformación de comite</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1"/>
          <p>Archivo no mayor a 10Mb</p>
          <p>Formato: .docx, .pdf, .xls, .ppt</p>
        </div>
      </form>
    </div>
  </div>
  <button type="button" class="btn btn-primary">Enviar</button>
  <hr>
</section>
