.example-toolbar{
  background-color: var(--colorFondoAzul );
  color: var(--colorTxt);
}
.mat-icon-button{
  background-color: tomato;
  border-radius: initial;
  border-radius: 15%;
}
.mat-icon-button:hover{
  background-color: rgb(243, 123, 102);
}

h1.example-app-name {
  font-weight: lighter;
  margin-left: 8px;
}

/* Contenido del sidebar */
ng-sidebar-container{
  height: 93vh;
}
::ng-deep .ng-sidebar{
  background-color: #f4f4f4;
  width: 340px;
  padding: 3em 0;
  box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}

/* informacion del sidebar */
.menu{
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-group-item{
  background-color: #fff;
  color: black;
}
.menu a:hover{
  background-color: tomato;
  color: #fff;
}
mat-expansion-panel{
  border-radius: initial;
  width: 339px;
}
mat-expansion-panel:hover{
  background-color: tomato;
  color: #fff;
}
.subList a:hover{
  background-color: #f4f4f4;
  color: black;
  border: solid 2px #fff;

}
