<!-- <app-login></app-login> -->

<mat-toolbar class="example-toolbar">
  <button mat-icon-button (click)="_toggleSidebar()"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">Aplicativo de auto evaluación</h1>
</mat-toolbar>

<ng-sidebar-container>

	<ng-sidebar [(opened)]="_opened" position="left">
		<div class="menu">
      <div class="list-group">
        <a routerLink="home" class="list-group-item list-group-item-action">Home</a>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <a>Fase 1 Cronstucción</a>
          </mat-expansion-panel-header>
          <ul class="subList">
            <a routerLink="crearProceso" class="list-group-item list-group-item-action">Crear proceso de Autoevaluación</a>
            <a routerLink="registoDeProgramas" class="list-group-item list-group-item-action">Registro de programas institucionales</a>
            <a routerLink="integrantesComite" class="list-group-item list-group-item-action">Registro de información de integrantes de comité</a>
            <a routerLink="creacionComite" class="list-group-item list-group-item-action">Crear comité según proceso de auto evaluación</a>
            <a routerLink="cronograma" class="list-group-item list-group-item-action">Cronograma</a>
            <a routerLink="ponderacion" class="list-group-item list-group-item-action">Ponderación</a>
          </ul>
        </mat-expansion-panel>

        <a routerLink="fase2" class="list-group-item list-group-item-action">Fase 2 Sensibilización</a>
        <a routerLink="fase3" class="list-group-item list-group-item-action">Fase 3 Recolección de la información</a>
        <a routerLink="fase4" class="list-group-item list-group-item-action">Fase 4 Valoración y juicios de calidad</a>
        <a routerLink="fase5" class="list-group-item list-group-item-action">Fase 5 Elaboración de informe final</a>
        <a routerLink="fase6" class="list-group-item list-group-item-action">Fase 6 Elaboracion plan de mejoramiento</a>
      </div>
    </div>
	</ng-sidebar>

	<div ng-sidebar-content>
    <router-outlet></router-outlet>
	</div>
</ng-sidebar-container>
