<section class="container borde">
  <h3 class="headerForm text-center ligther">Cronograma</h3>

  <mat-form-field class="example-full-width">
    <mat-label>Fecha inicio</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>

  <div class="row">
    <div class="col-sm-6">
      <label for="">Escoja una fase</label>
      <select class="form-control form-control-sm">
        <option>--Escoja una fase--</option>
        <option value="">Ponderación</option>
        <option value="">Cronograma</option>
      </select>
    </div>
    <div class="col-sm-6">
      <label for="">Nombres de actividad</label>
      <input class="form-control form-control-sm" type="text" placeholder="Nombres de actividad"/>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Descripción de la actividad</span>
        </div>
        <textarea class="form-control" aria-label="Descripción de la actividad"></textarea>
      </div>
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-primary">Enviar</button>
  <hr>
</section>
