.container{
  margin-top: 10em;
  background-color: var(--colorFondoForm);
  padding: 20px;
}
.headerForm{
  padding: 10px;
  background-color: var(--colorFondoAzul);
  color: var(--colorTxt);
}
.form{
  margin-top: 5em;
}
label{
  margin-top: 15px;
  margin-bottom: 0;
}
/* fecha */
.example-full-width{
  margin-top: 20px;
  padding: 5px;
  border-radius: 3%;
  border: 1px solid #ced4da;
  background-color: #fff ;
  color: black;
}
/* Boton enviar */
.btn{
  width: 150px;
  background-color: var(--colorFondoAzul );
  color: var(--colorTxt);

}
.btn:hover{
  background-color: var(--colorTxt);
  color: var(--colorFondoAzul );
}
