<section class="container borde">
  <h3 class="headerForm text-center ligther">Registro de programas institucionales</h3>

  <form>
    <label for="">Nombre del programa</label>
    <select class="form-control form-control-sm">
      <option>--Escoja un programa--</option>
      <option value="">Ingienería y ciencias basicas</option>
    </select>

    <!-- Para columnas -->
    <div class="row">
      <div class="col-sm">
        <label for="">Código SNIES</label>
        <input class="form-control form-control-sm" type="text" placeholder="Código SNIES"/>
      </div>
      <div class="col-sm">
        <label for="">Código CINE</label>
        <input class="form-control form-control-sm" type="text" placeholder="Código CINE"/>
      </div>
      <div class="col-sm">
        <label for="">Modalidad</label>
        <select class="form-control form-control-sm">
          <option>--Escoja una modalidad--</option>
          <option value="">Presencial</option>
          <option value="">Virtual</option>
        </select>
      </div>
    </div>
    <!-- ----------Fin columnas-->

    <label for="">Sede</label>
    <select class="form-control form-control-sm">
      <option>--Escoja una sede--</option>
      <option value="">Campus</option>
    </select>

    <label for="">Facultad</label>
    <select class="form-control form-control-sm">
      <option>--Escoja una facultad--</option>
      <option value="">Ingienería y ciencias basicas</option>
    </select>

    <!-- Para columnas -->
    <div class="row">
      <div class="col-sm">
        <label for="">Escuela</label>
        <input class="form-control form-control-sm" type="text" placeholder="Escuela"/>
      </div>
      <div class="col-sm">
        <label for="">Número de registro calificado</label>
        <input class="form-control form-control-sm" type="text" placeholder="Nº de registro calificado"/>
      </div>

      <!-- Fecha y vigencia -->
      <div class="col-sm">
        <mat-form-field class="example-full-width">
          <mat-label>Fecha y vigencia</mat-label>
          <input matInput [matDatepicker]="picker"/>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <!-- Boton submint -->
    <button type="button" class="btn btn-primary">Enviar</button>

  </form>
  <hr />
</section>
