/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

 :root{
   --colorFondoAzul : #0f385a;
   --colorFooter: #0e2e5d;
   --colorTxt : #fff;
   --colorForm:rgb(21, 190, 206);
   --colorFooter: #c4ccb7;
   --colorFondoForm:#E9E7E8;

 }
 /* Clase bold para hacerla mas generica */
.bold{
  font-weight: bold;
}
.ligther{
  font-weight: lighter;
}
/* Clase center generica para reutilizar */
.center{
  text-align: center;
}
