<section class="container borde">
  <h3 class="headerForm text-center  ligther">Cargar evidencias de las diferentes actividades</h3>

  <mat-form-field class="example-full-width">
    <mat-label>Fecha de inicio</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle
      matSuffix
      [for]="picker"
    ></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>

    <div class="row">
      <div class="col-sm-8">
        <label for="">Nombre de la actividad</label>
        <input class="form-control form-control-sm" type="text" placeholder="Nombre de la actividad"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <label for="">Población foco</label>
        <input class="form-control form-control-sm" type="text" placeholder="--Población foco--"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <label for="">Tipología de la actividad</label>
        <select class="form-control form-control-sm">
          <option>--Tipología de la actividad--</option>
          <option value="">Estadístico</option>
        </select>
      </div>
    </div>
    <br/>
    <br />
    <!-- Boton de adjuntar archivo -->
    <div class="row">
      <div class="col-sm-4">
        <form>
          <div class="form-group">
            <label for="exampleFormControlFile1">Adjunto de acta de conformación</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
            <p>Archivo no mayor a 10Mb</p>
            <p>Formato: .docx, .pdf, .xls, .ppt</p>
          </div>
        </form>
      </div>
    </div>
    <br>
    <button type="button" class="btn btn-primary">Enviar</button>
    <hr>

</section>
